<div
  class="flex rounded-xl px-4 py-4 flex-col bg-white mt-4"
  *ngFor="let req of requests"
>
  <div>
    <div class="flex">
      <div class="flex items-center justify-center mr-2 rounded-2xl blue-icon">
        <img src="assets/document-icon.svg" />
      </div>
      <div class="grow flex flex-col">
        <span class="text-sm text-[#4B5565]"
          >Demande d'autorisation de travaux</span
        >
        <span class="font-bold text-base"> {{ req.project }}</span>
      </div>
      <div class="flex items-center justify-center status text-[#DC6803] mr-4">
        Statut
      </div>
      <div class="dots">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deleteRequest(req.id)">
            <mat-icon>delete</mat-icon>
            <span>Delete Request</span>
          </button>
          <button mat-menu-item (click)="editRequest(req.id)">
            <mat-icon>edit</mat-icon>
            <span>Edit Request</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="flex ml-14 mt-2 mb-2">
      <div class="name bg-[#364152] text-[#FCFCFD] px-4 py-0.5 rounded-md">
        <label> {{ req.user }}</label>
      </div>
      <div
        class="contrat bg-[#EEF2F6] text-[#363F72] px-4 py-0.5 rounded-md ml-4"
      >
        <label>Contrat {{ req.contract }} </label>
      </div>
    </div>
  </div>
</div>
