/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  h2 {
    margin-bottom: 4px !important;
  }
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 20px !important;
  width: 500px !important;
  height: 450px !important;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  position: relative;
  bottom: 10px;
}
